<table class="table table-hover animate__animated animate__fadeIn">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let image of images" (click)="goToDetail(image.id)" style="cursor: pointer;">
      <td>
        <img
          [src]="'https://ddragon.leagueoflegends.com/cdn/15.11.1/img/champion/' + image.image.full"
          [alt]="image.name"
          style="width: 50px; height: auto;">
      </td>
      <td>{{ image.name }}</td>
      <td>{{ image.title }}</td>
    </tr>
  </tbody>
</table>
